// ----メイン側の画面
.main_chat {
  width: calc(100% - 300px);
  height: 100%;
  float: right;
}

.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  &__left-name {
    width: calc(100vw - 340px);
    font-size: 20px;
    margin-top: 35px;
  }
  &__Edit-btn {
    height: 40px;
    border: solid 1px $main-blue;
    color: $main-blue;
    margin: 28px 0 0;
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
    a{    
      color: $main-blue;
      text-decoration: none;
    }
  }
  &__member {
    font-size: 12px;
    color: $graycolor;
    margin-top: 15px;
    &-list {
      display: inline;
    }
  }
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}

.form {
  width: calc(100vw - 300px);
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
 
}
#new_message{
 display: flex;
}

.submit-btn {
  width: 100px;
  height: 50px;
  background-color: $main-blue;
  color: white;
  line-height: 50px;
  text-align: center;
}

.fa.fa-image {
  line-height: 50px;
  z-index: 1;
  position: relative;
  right: 35px;
  font-size: 20px;
}

.send__message {
  z-index: 1;
  height: 50px;
  width: calc(100vw - 300px - 100px - 40px - 15px )
}

.form__space{
  width:15px;
  height: 50px;
}

input.send__message {
  font-size: 16px;
  padding: 0 40px 0 10px;
}

p {
  font-size: 16px;
}

.hidden {
  display: none;
}
