// ----サイドバー側の画面
* {
  box-sizing: border-box;
}

.side_bar {
  width: 300px;
  float: left;
  color: $left-text;
}
i:before {
  cursor: pointer;
}
.fa_icon{
  color:white;
}
.side_bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  line-height: 100px;
  &__btn--icon {  
    float: right;
    
  }
  &__user {
    display: inline;
  }
}
ul {
  float: right;
}
li {
  display: inline;
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding-top: 20px;
}
.group{
  margin: 0 20px 40px;
  &__name{
    color:white;
    font-size:15px;
    margin:0 0 5px;
  }
  &__latest{
    color:white;
    font-size:11px;
  }

}